.Setting-main-view{
    width: 90%;
    height: 90%;
    background-color: white;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 4%;

    padding-top: 3%;
    padding-left: 3%;
}
.Setting-title-view{
    color: #1F1704;
    font-size: 20px;
    font-weight: 700;
    text-align: left;  
}

.edit-button{
    background-color: transparent;
    border: none;
    box-shadow: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    
    width: 120px;
    height: 44px;

    background-color: white;
    color: black;
    font-family: NUnito;
    font-size: 16px;
    font-weight: 600;

    border: solid 2px black;
    border-radius: 5px;
}
.save-button{
    background-color: transparent;
    border: none;
    box-shadow: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    
    width: 120px;
    height: 44px;

    background-color: #007653;
    color: white;
    font-family: NUnito;
    font-size: 14px;
    font-weight: 600;

    border-radius: 5px;
}

.Profile-photo-view{
    width: 100px;
    height: 100px;
    margin-bottom: 3%;
}
.Setting-data-view{
    width: 80%;
    height: 70%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1.5%;
}
.Profile-photo-view img{
    width: 100%;
    border-radius: 50%;
    border: solid 3px #8F9496;
}
.Setting-data-text{
    width: 70%;
    height: 7%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 7%;
}
.Setting-data-title{
    width: 160px;
    font-size: 16px;
    font-weight: 600;
    text-align: left;
    color: #433F37;
}
.Setting-data-value{
    width: max-content;
    font-size: 16px;
    font-weight: 500;
    text-align: left;
    color: #433F37;
}
.Setting-data-value input{
    height: 28px;
    width: 300px;
    border: solid 1px #a6a6a6;
    border-radius: 10px;
    padding-left: 8px;

    font-family: Nunito;
    color: #433F37;
    font-size: 14px;
    font-weight: 400;
}

