.Plans-main{
    background-color: #F2EEE5;
    height: 100vh;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 8%;
}
.plans-txt1{
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 0em;
    text-align: center;
    color: #1F1704;
    margin-bottom: 0.8%;
}
.plans-txt2{
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0em;
    text-align: center;
    color: #433F37;
    width: 70%;
    margin-bottom: 3%;
}
.plans-mid{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 54%;
    height: 16%;
    gap: 2%;
}
.plans-mid div{
    width: 22%;
    height: 100%;
    background-color: white;
    padding-left: 2%;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8%;
}
.plans-mid div h2{
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0em;
    text-align: left;
    color: #433F37;
    margin: 0%;
    padding: 0%;
    width: 92%;
}
.plans-mid div p{
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0em;
    text-align: left;
    color: #BD3C2A;
    padding: 0%;
    margin: 0%;
    margin-top: 1%;
    width: 92%;
}
.plans-mid div p span{
    font-size: 16px;
    font-weight: 600;
    color: #433F37;
}
.plans-bottom{
    width: 54%;
    height: 60%;
    background-color: #FCFBF9;
    border-radius: 5px;

    margin-top: 1%;
}