.Signin-main{
    width: 100%;
    height: 100vh;
    background-color: #F2EEE5;

    display: flex;
}
.Signin-left{
    width: 40%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Signin-left img{
    width: 85%; 
    border: none;
}
.Signin-right{
    width: 60%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Signin-right h2{
    margin: 0;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 0em;
    text-align: center;
    color: #1F1704;
    margin-bottom: 0.6%;
}
.Signin-right h3{
    margin: 0;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0em;
    text-align: center;
    color: #BD3C2A;
    margin-bottom: 6%;
}
.Signin-right p{
    margin-top: 1%;
    margin-bottom: 1%;
}
.Signin-right-mid{
    width: 350;
    height: 35%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.Input-part{
    width: 350px;
    height: 108px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;
}

.email-input{
    width: 336px;
    height: 40px;
    padding-left: 8px;
    border: solid 2px #DEDEDD;
    border-radius: 5px;

}

.Input-part label{
    margin: 0;
    padding: 0;

    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0em;
    text-align: start;
    color: #433F37;

    padding-bottom: 1% ;
}
.email-input ::placeholder{
    font-family: Nunito;

}
.Password-toggle{
    position: absolute;
    padding-right: 120px;
    z-index: 1;
}

.S-button{
    width: 350px;
    height: 48px;

    background-color: black;
    color: white;
    font-family: Nunito;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    border: none;

    margin-top: 2%;

}
/* .G-button{
    width: 34%;
    height: 6%;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3%;

    background-color: white;
    color: #1F1704;
    border: solid 2px #adadad;
    font-family: Nunito;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
} */

#g-button{
    border: none;
   
}

#g-button:hover{
    box-shadow: none;
}

.G-button img{
    height: 70%;
}
.Signin-switch{
   
    font-size: 16px;
    font-weight: 600;
    text-align: start;
    color: #433F37;
    margin-top: 1%;

    display: flex;
    justify-content: center;
}
.Signin-switch span{
    color: #BD3C2A;
    font-weight: 700;
    cursor:pointer;
}
@media (max-width: 580px) {
    .Signin-main{
        height: 100vh;
    }
    .Signin-left{
        display: none;
    }
    .Signin-right{
        width: 100%;
        height: 100%;
        justify-content: flex-start;
        margin-top: 140px;
        padding: 0;
    }
}
@media (max-width: 400px) {
    .Signin-right-mid{
        width: 320px;
    }
    .Input-part{
        width: 320px;
    }
    .email-input{
        width: 306px;
    }
    .S-button{
        width: 320px;
    }
    .G-width{
        width: 320px;
    }
}