.Signup-main {
    width: 100%;
    height: 100vh;
    background-color: #F2EEE5;
    display: flex;
  }
  
  .Signup-left {
    width: 40%;
    height: 100%;
    background-color: white;
  }
  
  .Signup-right {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .Signup-right h2 {
    margin: 0;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 0em;
    text-align: center;
    color: #1F1704;
    margin-bottom: 0.6%;
  }
  
  .Input-part {
    width: 34%;
    height: 11%;
    margin-bottom: 0.5%;
  }
  
  .Signup-right p {
    margin-top: 1%;
    margin-bottom: 1%;
  }
  
  .Input-part input {
    width: 98%;
    height: 35%;
    padding-left: 3%;
    border: solid 2px #DEDEDD;
    border-radius: 5px;
  }
  
  .Input-part label {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0em;
    text-align: start;
    color: #433F37;
    padding-bottom: 3%;
  }
  
  .S-button {
    width: 34%;
    height: 6%;
    background-color: black;
    color: white;
    font-family: Nunito;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    border: none;
    margin-top: 2%;
  }
  
  .G-button {
    width: 34%;
    height: 6%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3%;
    background-color: white;
    color: #1F1704;
    border: solid 2px #adadad;
    font-family: Nunito;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
  }
  
  .G-button img {
    height: 70%;
  }
  
  .Signup-switch {
    font-size: 16px;
    font-weight: 600;
    text-align: start;
    color: #433F37;
    margin-top: 1%;
    display: flex;
    justify-content: center;
  }
  
  .Signup-switch span {
    color: #BD3C2A;
    font-weight: 700;
    cursor: pointer;
  }

  .Password-input {
    position: relative;
  }
  
  .Password-toggle {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #adadad;
  }
  