.Post-buttons{
  height: 8%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 10%;
}
.add-post{
  display: flex;
  width: 152px;
  height: 44px;
  padding: 8px 18px;
  justify-content: center;
  align-items: center;
  gap: 14px;
  border-radius: 8px;
  border: solid 2px #C2C2C2;

  font-family: Nunito;
  color: #433F37;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
}
.com-filters{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}
.com-filters button{
  display: flex;
  height: 38px;
  padding: 8px 22px;
  justify-content: center;
  align-items: center;
  gap: 14px;

  border-radius: 10px;
  border: none;
  border-bottom: 2px solid #C2c2c2;
  background: #FFF;
}
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
  }
  
  .add-post-modal {
    background-color: #fff;
    border-radius: 4px; 
    padding: 20px;
    max-width: 500px;
  }
  
  .add-post-modal h2 {
    margin-bottom: 20px;
  }
  
  .add-post-modal form {
    display: flex;
    flex-direction: column;
  }
  
  .add-post-modal .form-group {
    margin-bottom: 20px;
  }
  
  .add-post-modal label {
    font-weight: bold;
  }
  
  .add-post-modal select,
  .add-post-modal textarea,
  .add-post-modal input[type='file'] {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  .add-post-modal button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .add-post-modal button:hover {
    background-color: #0056b3;
  }