.Post-buttons{
  height: 8%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 10%;
}
.add-post{
  display: flex;
  width: 152px;
  height: 44px;
  padding: 8px 18px;
  justify-content: center;
  align-items: center;
  gap: 14px;
  border-radius: 8px;
  border: solid 2px #C2C2C2;

  font-family: Nunito;
  color: #433F37;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
}
.com-filters{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}
.com-filters button{
  display: flex;
  height: 38px;
  padding: 8px 22px;
  justify-content: center;
  align-items: center;
  gap: 14px;

  border-radius: 10px;
  border: none;
  border-bottom: 2px solid #C2c2c2;
  background: #FFF;
}
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
  }
  
  .add-post-modal {
    max-width: 480px;
    width: 100%;
    height: auto;
    background-color: #fff; 
    padding: 0 20px 30px;
    border-radius: 10px;
    position: relative;
    
  }
  
  .add-post-modal h2 {
    margin-bottom: 20px;
  }
  
  .add-post-modal form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .add-post-modal .form-group {
    margin-bottom: 20px;
    width: 100%;
  }
  
  .add-post-modal label {
    margin: 0 0 8px;
    font-weight: bold;
    display: block;
  }

.form-group textarea.form-control {
    padding: 10px;
    width: 95%;
}
  
  .add-post-modal select,
  .add-post-modal textarea {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }

.add-post-modal input[type='file'] {
    padding: 0 0 0 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    line-height: 40px;
    width: 97%;
}
  
  .add-post-modal button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .add-post-modal button:hover {
    background-color: #0056b3;
  }

.add-post-modal button.close-btn {
  background: transparent;
  color: #000;
  position: absolute;
  top: 6px;
  right: 10px;
  width: 40px;
  height: 40px;
  font-size: 20px;
  font-weight: 500;
  border-radius: 100%;
  padding: 0;
}


.form-group .form-control {
    width: 100%;
    height: 40px;
}

@media screen and (max-width:767px){

.com-filters {
    flex-wrap: wrap;
}
  
}