.blogs-main {
    background-color: #F2EEE5;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

    .blogs-top {
        font-size: 28px;
        font-weight: 700;
        letter-spacing: 0em;
        text-align: center;
    }

  .all-blogs {
    display: grid;
    grid-template-columns: repeat(3, minmax(360px, 1fr));
    gap: 24px;
    width: 1128px;
    height: 500px;
    margin-top: 2%;
  }
  @media (max-width: 1175px){
    .all-blogs {
    width: 744px;
    overflow:hidden;
   }
  }
  @media (max-width: 800px){
    .all-blogs {
    width: 360px;
    overflow:hidden;
   }
  }