.fet-card{
    background-color: #F8F6F2;
    width: 349px;
    height: 409px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fet-card:hover{
    background-color: white;
    box-shadow: 0px 0px 20px 0px #0000001A;
}

.fet-card h3{
    font-family: nunito;
    font-weight: 600;
    font-size: 20px;
    color: #1F1704;
    text-align: center;
    width: 80%;
}
.fet-card p{
    font-family: nunito;
    font-weight: 400;
    font-size: 16px;
    color: #433F37;
    text-align: center;
    width: 80%;
}