.features-main{
  background-color: #F2EEE5;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.features-top {
  background-color: #FCFBF9;
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-text {
  width: 50%;
  color: #1f1704;
  font-family: Nunito;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 0em;
  text-align: center;
}
.high-text {
  color: #bd3c2a;
}
.fet-highlight {
  position: relative;
  z-index: 0;
}

.fet-highlight::before {
  /* Highlight color */
  background-color: #E8DDAC;

  content: "";
  position: absolute;
  width: calc(100%);
  height: 60%;
  bottom: 0;
  z-index: -1;
}

.features-bottom {
    width: 100%;
    height: 82%;
    display: flex;
    justify-content: center;
}

.feature-cards{
  width: 90%;
  /* background-color: #1F1704; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.fet-arrows{
  position: absolute;
  margin-top: 320px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  gap: 1060px;
}

@media (max-width: 480px){
  .top-text{
      width: 80%;
      font-size: 18px;
  }
}
