.hero-container{
    background-color: #F2EEE5;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.hero_left{
    width: 35%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 10%;
    margin-top: 13%;
    z-index: 2; 
}
.hero-text1{
    font-family: Nunito;
    font-size: 44px;
    font-weight: 700;
    letter-spacing: 0em;
    text-align: left;
    color: #1F1704;
    margin-bottom: 7%;
}
.hero-text1 strong {
    position: relative;
  }
  
.hero-text1 strong::before {
    /* Highlight color */
    background-color: #E8DDAC;
  
    content: "";
    position: absolute;
    width: calc(100%);
    height: 60%;
    bottom: 0; 
    z-index: -1;
  }
.hero-text2{
    font-family: Nunito;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: left;
    color:#433F37;
    margin-bottom: 10%;
}
.hero-line{
    background: #DAC55A;
    height: 4px;
    width: 22%;
    margin-bottom: 10%;
}
.hero-button{
    height: 12%;
    width: 50%;
    border-radius: 30px;
    font-family: Nunito;
    border: none;
    background: #BD3C2A;
    color: white;
    font-size: 18px;
    font-weight: 700;
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3%;
}

.hero-image{
    height: 75%;
}
.hero-right{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: end;
}
@media (max-width: 600px){
    .hero-right{
        display: none;
    }
}
@media (max-width: 1000px) and (min-width: 600px){
    .hero-right{
        width: 40%;
    }
    .hero-image{
        height: 60%;
    }
}
@media (max-width: 576px) {
    .hero_left{
        width: 90%;
        margin-top: 35%;
    }
    .hero-text1{
        font-size: 36px;
        width: 80%;
    }
    .hero-text2{
        font-size: 16px;
        width: 80%;
    }
    .hero-right{
        display: none;
    }
    /* .hero-line{
        margin-bottom: 15%;
        margin-top: 15%;
    } */
    .hero-button{
        width: 65%;
        height: 46px;
    }
}
.star-img{
    position: absolute;
    height: 114px;
    width: 109px;
    left: 60%;
    top: 186px;
    border-radius: 0px;

}
@media (max-width: 480px) {
    .star-img{
        left: 60%;
        top: 180px;
    }
}