.Qna-card{
    width: 70%;
    height: 66.5%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 3%;
}
.Qna-card-left{
    padding: 0;
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 10px;
    box-shadow: 0px 0px 15px 0px #0000001A;

}
.Qna-card-left img{
    width: 100%;
    
}
.Qna-card-right{
    width: 45%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8%;

    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 15px 0px #0000001A;
    border-top: solid 5px #77BFA1;
}

.Qna-left-txt{
    position: absolute;
    padding-left: 3%;
    padding-top: 23%;
    width: 25%;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    color: #1F1704;
}
.Qna-right-txt1{
    font-family: Nunito;
    width: 80%;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0em;
    text-align: center;
    color: #433F37;

}
.Qna-right-txt2{
    font-family: Nunito;
    width: 75%;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0em;
    text-align: center;
    color: #433F37;

}