.steps-main{
    background-color: #F2EEE5;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.steps-content{
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.steps-box{
    background-color: #F8F6F2;
    height: 60%;
    width: 80%;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    padding-top: 3%;
}
.stepall{
    
    width: 125px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.steps-box img{
    height: 7%; 
    margin-top: 3%;
    margin-right: 6%;
}
.top-text1{
    font-size: 28px;
    font-weight: 700;
    color: #1F1704;
    text-align: center;
}
.top-text2{
    width: 55%;
    font-size: 18px;
    font-weight: 600;
    color: #5E5E5F;
    text-align: center;
}
.num-txt{
    font-weight: 700;
    font-size: 64px;
    border-radius: nullpx;
    color: #BD3C2A;
}
.steps-line{
    width: 72px;
    height: 3px;
    background: #CC8E85;
    margin: 20% 0%;
}
.steps-txt{
    font-size: 16px;
    font-weight: 700;
    text-align: left;
    color:#5E5E5F;
    ;
}