.stories-main{
    background-color: #F2EEE5;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.stories-main h2{ 
    margin: 0;
    padding-bottom: 1%;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 0em;
    text-align: left;
    color: #1F1704;
}
.stories-main p{
    margin: 0;
    padding-bottom: 2%;
    width: 60%;
    font-family: Nunito;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: center;

}
.all-stories {
    display: grid;
    grid-template-columns: repeat(3, minmax(360px, 1fr));
    gap: 24px;
    width: 1128px;
    height: 500px;
    margin-top: 2%;
  }
@media (max-width: 480px) {
    .stories-main h2{
        font-size: 23px;
        padding-bottom: 3%;
    }
    .stories-main p{
        font-size: 16px;
        width: 80%;
    }

}
/* .all-stories{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 65%;
    gap: 3%;
} */
@media (max-width: 1175px){
    .all-stories {
    width: 744px;
    overflow:hidden;
   }
  }
  @media (max-width: 800px){
    .all-stories {
    width: 360px;
    overflow:hidden;
   }
  }