.video-player {
  display: flex;
  align-items: flex-start;
  position: relative;
  height: 100%;
  width: 100%;
}

.video-player video {
  height: 100%;
  border-radius: 5px;
  outline: none;
  border: none;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.video-player video:focus {
  outline: none;
  border: none;
}

.video-player video::-webkit-media-controls {
  display: none;
}

.video-player video::-webkit-media-controls-enclosure {
  overflow: hidden;
}

.video-player button {
  position: absolute;
  transform: translate(-50%, -50%);
  border: none;
  cursor: pointer;
  top: 50%;
  left: 50%;
}

