.video-player {
  display: flex;
  align-items: flex-start;
  position: relative;
}

.video-player video {
  height: 200px;
  border-radius: 5px;
  outline: none;
  border: none;
}

.video-player video:focus {
  outline: none;
  border: none;
}

.video-player video::-webkit-media-controls {
  display: none;
}

.video-player video::-webkit-media-controls-enclosure {
  overflow: hidden;
}

.video-player button {
  position: absolute;
  transform: translate(-50%, -50%);
  border: none;
  cursor: pointer;
  top: 6.5rem;
  left: 11rem;
}
