.bmi-main{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.bmi-left {
  padding-top: 3%;
  padding-left: 10%;
  width: 50%;
  height: 100%;
  background-color: #FCFBF9;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 5%;
}
.bmi-left-top{
  width: 50%;
  height: 10%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 7%;

  border-bottom: solid 2px #D2CBB9;
}
.bmi-left-top h2{
  font-size: 28px;
  font-weight: 600;
  text-align: left;

  color: #1F1704;

  margin: 0;
  padding: 0;
} 
.bmi-left-bottom{
  width: 70%;
  height: 70%;
}
.bmi-form{
  height: 100%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.bmi-input-container{
  width: 90%;
  height: 65%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 5%;
  padding-top: 10%;
}
/* .tryy{
  width: 100%;
  display: flex;
} */
.bmi-label{
  width: 90%;
  height: 10%;
  display: flex;
  justify-content: flex-start;
  
}
.bmi-label div{
  width: 80%;
  margin: 0;
  padding: 0;
  color: #433F37;
  font-size: 18px;
  font-weight: 600;
}
.bmi-label input{
  width: 96%;
  height: 80%;
  padding-left: 3%;

  border: solid 2px #DEDEDD;
  border-radius: 5px;
}
.bmi-label select{
  width: 100%;
  height: 100%;
  padding-left: 3%;

  border: solid 2px #DEDEDD;
  border-radius: 5px;
}

.bmi-right{
  width: 40%;
  height: 100%;
  background-color: #F2EEE5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
