.calorie-container {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    height: 95vh;
    background-color: #f4f4f4;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .calorie-title {
    margin-bottom: 20px;
    margin-top: 0;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
  }
  
  .calorie-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
  }

.calorie-label span {
    width: 140px;
}
  
  .calorie-input-container {
    margin-bottom: 10px;
  }
  
  .calorie-label {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 16px;
  }
  
  .calorie-input {
    flex: 1;
    margin-left: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .calorie-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .calorie-message {
    text-align: center;
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .calorie-result {
    margin-top: 20px;
    text-align: center;
  }
  
  .calorie-info {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .calorie-list {
    list-style: none;
    padding: 0;
  }
  
  .calorie-list li {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .calorie-list li p {
    margin: 0;
  }
  
@media screen and (max-width:767px) {
  
.calorie-label{
  font-size: 14px;
}

.calorie-label span {
  width: 120px;
}

.calorie-input{
  width: 200px;
  margin: 0;
}

.calorie-container{
  height: 55vh;
}

.calorie-title{
  font-size: 18px;
}

.calorie-form{
  width: 100%;
}
    
}